{% extends 'base.html' %} 

{% block title %}Homepage{% endblock %} 

{% block content %}

<h1>Find-A-Pet</h1>

<a href="/add"><button type="submit" id="add-btn">Add a Pet</button></a> 
<br>
<ul id="pet-list">
    {% for pet in pets %} 
    <li class="pet-in-list">
        <a href="/pet_details/{{ pet.id }}">{{ pet.name }}</a>
        <img src="{{ pet.image_url() }}" alt="{{ pet.name }}">
        {% if pet.available == True %}
            <h3><b>AVAILABLE FOR ADOPTION!</b></h3>
        {% else %}
            <h3>Adopted</h3>
        {% endif %} 
    </li>
    {% endfor %}
</ul>

{% endblock %} 

