{% extends 'base.html' %} 

{% block title %}Homepage{% endblock %} 

{% block content %}

<h1 class="text-center">Find-A-Pet</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/add"><button type="submit" class="btn btn-info">Add a Pet</button></a> 
                <br><br>
            <ul id="pet-list">
            {% for pet in pets %} 
                <li>
                    <a href="/pet_details/{{ pet.id }}"><h3>{{ pet.name }}</h3></a>
                    <img src="{{ pet.image_url() }}" alt="{{ pet.name }}" class="img-thumbnail">
                    {% if pet.available == True %}
                        <h5>AVAILABLE FOR ADOPTION!</h5>
                    {% else %}
                        <h5>Adopted</h5>
                    {% endif %}
                <br>
                <hr>
                <br>
                </li>
                {% endfor %}
            </ul>
        </div>      
    </div>
</div>

{% endblock %} 

