{% extends 'base.html' %} 

{% block title %}{{pet.name}} Details{% endblock %} 

{% block content %}

<h1>Find-A-Pet</h1>

<div id="container">
    <h1>{{pet.name}}</h1>
    <br><br>
    {% if pet.photo_url %} 
        <img src="{{pet.photo_url}}">
    {% endif %} 
    <br><br>
    <p>
        <b>Species:</b> {{pet.species}}
        <br><br>
        <b>Age (in years):</b> {{pet.age}}
        <br><br>
        <b>Notes:</b> {{pet.notes}}
        <br><br>
        <b>Availability:</b> {{pet.available}}
        <br><br>
        <a href="/edit_pet/{{pet.id}}"><button>Edit Pet Details</button></a>
    </p>
</div>
{% endblock %} 

